body{
    color: seashell;
    font-size: 22px;
    font-family: sans-serif;
    min-height: 100vh;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-color: black;
    min-height: 100vh;
}
header{
    height: 69px;
    width: 100%;
}
.logo{
   height: 50px;
}
nav{
    padding-left: 10px;
    border-bottom: 1px solid seashell;
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul{
    display: flex;
    width: 40%;
    justify-content: space-around;
}
ul li{
    list-style: none;
    text-decoration: underline;
    font-size: 20px;
}
.beckimg {
  background-image: url('./img-mission-background.jpg');
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  margin: 0 auto;
  margin-top: -18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourmis0n{
 background-color: black;
 text-align: center;
 padding: 10px;
 width: 100%;
 color: seashell;
}
.container2{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
.container2 h2{
    line-height: 60px;
}
.img-container{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.img-container img{
    width: 300px;
    height: 200px;
}
.container3{
    width: 90%;
    height: 500px;
    background-image: url('./img-locations-background.jpg');
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loc-cont{
    width: 100%;
    display: flex;
    gap:40px;
    margin-top: 20px;
    justify-content: center;
}
.loc-cont div{
    background-color: black;
    width: 25%;
    text-align: center;
    padding: 20px;
    line-height: 60px;
}
footer{
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
}